footer {
  display: flex;
  gap: 24px;
  padding-block: 24px;
  font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
  margin-right: auto;
}

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;

    & span {
      text-align: center;
    }

    & span:nth-child(1) {
      width: 100%;
    }
  }
}
