header {
  padding-block: 32px;
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  gap: 32px;
}

#profile > div {
  max-width: 384px;
}

#profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%;
}

#profile div h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width:768px) {
  header {
    padding: 0;
  }
  
  header .container, #profile {
    flex-direction: column;
  }

  header .container{
    gap: 16px;
  }
  
  #profile {
    width: 100%;
    gap: 16px;
  }
  
  #profile > div {
    max-width: 296px;
  }
  
  #profile img {
    width: 120px;
    height: 120px;
  }
  
  #profile div h1 {
    font-size: 24px;
  }
  
  #info {
    width: 100%;
  }
}